@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');

.title {
    color: white;
    background-image: linear-gradient(to right, rgb(27, 82, 231), black, yellow);
    font-size: 60px;
    font-family: 'Roboto Slab', serif;
    border-bottom: solid 1px rgba(73, 73, 73, 0.5);
}

.search {
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}
.search-form {
    border-bottom: solid 3px black;
    padding: 20px;
}

.weather-con {
    min-height: 400px;
}

.dwcard {
    background-image: linear-gradient( to bottom right, rgb(22, 90, 235), rgb(61, 213, 252));
}

.text-li {
    font-size: 20px;
}

.moderate {
    background-color: yellow;
}

.normal {
    background-color: green;
    color: white;
}

.high {
    background-color: red;
    color: white;
}